<nav class="navbar navbar-footer bg-fill-shade-1">
  <div class="container-fluid container--body wrapper">

    <!-- Privacy/Cookies | Legal Notices & Trademarks | Report Noncompliance | © 2016 Autodesk Inc. All rights reserved -->
    <div layout="row" layout-align="center center" layout-wrap
         class="wrapper txt-no-wrap txt-light">
      <a class="hide-xs txt-color-alt" href="#">Privacy/Cookies</a>
      <span class="hide-xs padding-left padding-right txt-color-alt">|</span>

      <a class="hide-xs txt-color-alt" href="#">Privacy/Cookies</a>
      <span class="hide-xs padding-left padding-right txt-color-alt">|</span>

      <a class="hide-xs txt-color-alt" href="#">Legal Notices & Trademarks</a>
      <span class="hide-xs padding-left padding-right txt-color-alt">|</span>

      <a class="hide-xs txt-color-alt" href="#">Report Noncompliance</a>
      <span class="hide-xs padding-left padding-right txt-color-alt">|</span>

      <a class="txt-color-sec-2" href="#">© 2016 Autodesk Inc. All rights reserved</a>
    </div>

  </div>
</nav>
