@import "../variables";

@mixin card($color: #333, $background: $color-bright-white, $border-radius: 3px) {
  color: $color;
  background-color: $background;
  border-radius: 0;
  padding: 20px;
  border: 1px solid darken($background, 10%);

  &.card-hero {

    margin-bottom: 2px;

    @media (max-width: $screen-sm-min) and (min-width: $screen-xs-min) {
      margin-bottom: 2px;
      border-radius: $border-radius;
    }

    @media (min-width: $screen-sm-min) {
      padding: 30px 19px;
      border-radius: $border-radius;
    }
    @media (min-width: $screen-md-min) {
      margin-bottom: 10px;
      padding: 40px 58px;
    }
    @media (min-width: $screen-lg-min) {
      padding: 40px 58px;
    }

  }
}