@import "variables";

.table-dashboard {
  td {
    color: $color-txt-sec2;
    font-weight: lighter;
    &:not(:first-child) {
      text-align: right;
    }
  }
  th {
    font-weight: lighter;
    color: $color-txt-alt;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 11px;

    &:not(:first-child) {
      text-align: right;
    }
  }
  > thead > tr > th {
    border-bottom: none;
  }

  > tbody {
    > tr > td {
      padding-left: 0;
      padding-right: 0;
    }
    > tr:first-child {
      > td {
        border-top: none;
      }
    }

    > tr.with-border-bottom {
      > td {
        border-bottom: 1px solid $table-border-color;
      }
    }
  }

  &.table-compact {
    > tbody > tr:not(:last-child) {
      > td {
        border-top: none;
      }
    }
  }
}