$color-bright-white: #fff;

$color-brand: #3566cc;
$color-brand-text: #fff;

$color-fill: #fafafa;


$color-txt-sec: #666666;
$color-txt-sec2: #333333;

$color-txt-alt: #008888;
$color-txt-alt2: #0696d7;

/* Card */



$padding-base: 6px;
$padding-sm: 4px;
$padding-md: 12px;
$padding-lg: 20px;
$padding-xl: 32px;


$jumbo-font-size:     48px !default;
$jumbo-font-size-sm:  24px !default;
$jumbo-font-size-md:  32px !default;

$divider-color: #ebeff0;
